i {
    font-size:16px;
}

.nav > li > a {
    color:#787878;
}

.filtercheckbox {
    margin-right: 10px !important;
}

.margin-manholes, .margin-macp {
    margin-top: 50px;
}

.margin-searchbox{
    margin-top: 20px;
}

.table-section{
    height: 400px;
}


footer {
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#efefef;
}

